.header {
    border-bottom: 1px solid #ccc;
}

.active {
    background-color: #ff267c;
    padding: 10px 20px;
    border-radius: 5px;

}

.active:hover {
    background-color: #f52578;
}

.nav-content-links .active {

    color: #fff;

}


.logo {
    height: 75px;

}



.header .container {
    display: flex;
    justify-content: space-between;
}

.nav-content, .nav-content-links, .nav-content-welcome{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content-links a {
    text-decoration: none;
    color: #333;
    position: relative;
    bottom: 2px;
}

.nav-content ul {
    list-style-type: none;

}

.nav-content li {
    margin: 5px;
}

.avatar {
    height: 42px;
    position: relative;
    bottom: 5px;
}