.header {
    border-bottom: 2px solid #ff267c;
}

.not-logged-in {
    padding-bottom: 10px;
}
.active {
    background-color: #ff267c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.active:hover {
    background-color: #f52578;
}

.nav-content-links .active {

    color: #fff;

}

.nav-content-links a:hover {
    background-color: #ff267c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}

.logo {
    height: 75px;

}



.header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.nav-content,
.nav-content-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.nav-content-links li {
    padding: 0 20px 0 20px;
}


.nav-content-links a {
    text-decoration: none;
    color: #333;
    position: relative;
    padding: 10px 20px;
}

.nav-content ul {
    list-style-type: none;

}

.nav-content li {
    margin: 0 5px 0 5px;
}

.avatar {
    height: 42px;
    position: relative;
    bottom: 5px;
}