.result-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 15px 20px;
    height: 100px;
    position: relative;
}

.result-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    background-color: #ccc;
    margin: 20px 0 0 0;
    position: relative;
    font-weight: bold;
}

.result-card-text {
    text-transform: capitalize;
}

.result-votes {
    text-align: center;
    font-weight: bold;
}

.userVote-card {
    border: 2px solid #14CC60;
    background-color: rgb(206, 238, 219);
}

.userVote-icon {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 50px;
    text-align: center;
    background-color: #ff267c;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}

.result-card h5 {
    margin: 0;
    padding: 0;
}

.result-votes {
    font-size: 12px;
}