.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-select {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    padding: 0 15px;
    margin: 0 15px;
}

.sign-in-select-option {
    font-size: 16px;
    background-position:  0;
}

.sign-in-btn {
    position: relative;
    top: 20px;
    width: 150px;
    height: 40px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #ff267c;
    outline: none;
    border: none;
    color: #fff;
}

.login-error {
    height: 20px;
    position: relative;
    top: 40px;
    color: #f00;
}